/* --- List item styles --- */
.caret-off::after {
  display: none !important;
}
.meatball-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.meatball-btn:hover, .meatball-btn:focus {
  background-color: rgba(0, 0, 0, 0.08) !important; 
}


/* --- Auth page styles --- */
.auth-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5ffff;
}
.auth-main-content {
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.auth-footer {
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 14px;
}


/* --- Auth page form component styles --- */
.form-label {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.submit-btn {
  background-color: #36424e;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
.submit-btn:hover {
  background-color: #273039;
}
.submit-btn:disabled {
  background-color: #27303950;
}


/* --- Register card styles --- */
.register-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column; 
  width: 420px;
  min-height: 500px;
  background-color: #ffffff;
}
.register-left {
  text-align: center;
  padding: 50px 20px 0px 20px; 
}
.register-divider {
  display: none; 
}
.register-right {
  padding: 0px 30px 40px 30px; 
}
@media (min-width: 900px) {
  .register-card {
    flex-direction: row; 
    width: 820px;
  }
  .register-left {
    flex: 1;
    padding: 20px;
  }
  .register-right {
    flex: 1;
    padding: 10px 20px;
  }
  .register-divider {
    width: 1px;
    background-color: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 50px;
  } 
}


/* --- Login card styles --- */
.login-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 420px;
  min-height: 520px;
  padding: 3rem;
  justify-content: start;
  background-color: #ffffff;
}


/* --- Upload file button --- */
.upload-btn {
  background-color: #55acef;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  height: 45px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: -14px;
  justify-content: center;
  display: flex;
}
.upload-btn:hover {
  background-color: #55acefbf;
  color: #ffffffbf;
}
.upload-btn:disabled {
  background-color: #55acef80;
  color: #ffffff80;
}


/* --- Page change button --- */
.page-btn {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: transparent;
  height: 32px;
  margin-bottom: 2px;
  text-align: start;
  font-size: 14px;
  transition: background-color 0.1s ease;
}
.page-btn:hover {
  background-color: #2B426050;
}
.page-btn-selected {
  background-color: #2B4260 !important;
  font-weight: 500 !important;
}


/* --- Sidebar styles --- */
.sibeisafe-sidebar {
  background-color: #091520 !important;
  color: #ffffff;
  width: 250px !important;
}
.sibeisafe-sidebar .offcanvas-header {
  display: flex !important;
}
.sibeisafe-sidebar .offcanvas-body {
  flex-grow: 1 !important;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x) !important;
  overflow-y: auto !important;
}


/* Main layout styles */ 
.main-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f0f7f9;
}
.mobile-header {
  display: flex;
  align-items: center;
  padding: 1rem;   
  z-index: 1;
  position: relative;
  background-color: #ffffff;
}
.main-content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}


/* Desktop views */
@media (min-width: 768px) {
  .sibeisafe-sidebar .btn-close {
    display: contents !important;
  }
  .mobile-header {
    display: none;
  }
  .main-content-area {
    padding: 1.5rem;
  }
}